// 預設變數覆蓋需要在導入Bootstrap之前

// 專題發表時候，遠端就用淺色、現場用深色
// 遠端
$mb-gray-bcg: #f9f9f9;
// 現場發表
// $mb-gray-bcg: #e4e4e4;

$mb-button-width: 191px;
$mb-button-hight: 74px;

$mb-avatar-button-width: 126px;
$mb-avatar-button-hight: 49px;

// Import Bootstrap and its default variables
// @import '~bootstrap/scss/bootstrap.scss';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
// main > .container {
//   padding: 60px 15px 0;
// }

// .footer {
//     background-color: #f5f5f5;
// }

// .color-black{
//   color: #000;
// }
// img {
//   height: 100%;
//   width: 100%;
// }

.mb-avatar-100 {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 50%;
  overflow: hidden;
}

.list-no-style {
  list-style-type: none;
}

/*      登入頁面       */
.mb-login-content {
  display: flex;
}
.mb-login-background {
  height: 90vh;
  width: 50%;
  background: url('./../images/Sing-in-logo.png') no-repeat
    10% 100%;
  background-size: 200%;
}

.mb-login-form {
  margin: 0px auto;
}

.mb-login-logo {
  width: 400px;
  margin: 0px auto;
  margin-top: 150px;
  margin-bottom: 100px;
}

.mb-login-input {
  width: 400px;
  height: 50px;
  border-radius: 4px;
  margin-bottom: 18px;
  margin-left: 30px;
  border: 1px solid rgb(116, 116, 116);
}

.mb-login-button {
  margin-right: 25px;
}

.mb-brown {
  color: #fff;
  background-color: #e18e12;
}

.mb-yellow {
  color: #fff;
  background-color: #ffbb00;
}

.mb-text-line {
  display: flex;
  align-items: center;
}
.mb-text-line::before {
  content: '';
  display: block;
  //  width: 100px;
  border-top: 1px solid #777;
  flex: 1 1 0;
}
.mb-text-line::after {
  content: '';
  //  width: 100px;
  border-top: 1px solid #777;
  flex: 1 1 0;
}

.mb-login-icon {
  width: 70px;
  height: 70px;
}
.mb-login-icon img{
  width: 100%;
  height: 100%;
}

/*       會員中心      */

.mb-content {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  max-width: 1200px;
}
.mb-aside-menu {
  border: 1px solid #000;
  margin-top: 100px;
  text-align: center;
  flex: 0 0 15%;
  height: 604px;
}

.mb-aside-menu li {
  padding: 15px 0px;
  display: block;
}

.mb-aside-menu li:nth-child(1) {
  width: 100%;
  background-color: #145041;
  color: white;
}
.mb-aside-menu li:nth-child(2) {
  border-bottom: 1px solid #000;
}
.mb-aside-menu li:nth-child(6) {
  border-bottom: 1px solid #000;
}
@import '~bootstrap/scss/bootstrap.scss';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
// main > .container {
//   padding: 60px 15px 0;
// }

// .footer {
//     background-color: #f5f5f5;
// }

// .color-black{
//   color: #000;
// }
.avatar200 {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  border-radius: 50%;
  overflow: hidden;
}
.avatar200 img {
  width: 100%;
  height: 100%;
}

.card {
  width: 400px;
  height: 200px;
}
.aaa{
  width: 100px;
  height: 100px;
}
.card img {
  width: 100%;
  height: 100%;
}

.list-no-style {
  list-style-type: none;
}

/*      登入頁面       */
.mb-login-content {
  display: flex;
}
.mb-login-background {
  height: 90vh;
  width: 50%;
  background: url('./../images/Sing-in-logo.png') no-repeat
    10% 100%;
  background-size: 200%;
}

.mb-login-form {
  margin: 0px auto;
}

.mb-login-logo {
  width: 400px;
  margin: 0px auto;
  margin-top: 150px;
  margin-bottom: 100px;
}
.mb-login-logo img{
  width: 100%;
  height: 100%;
}

.mb-login-input {
  width: 400px;
  height: 50px;
  border-radius: 4px;
  margin-bottom: 18px;
  margin-left: 30px;
  border: 1px solid rgb(116, 116, 116);
}

.mb-button {
  width: $mb-button-width;
  height: $mb-button-hight;
  font-size: 32px;
  border-radius: 8px;
  border: 0px;
}
.mb-login-button {
  margin-right: 25px;
}

.mb-brown {
  color: #fff;
  background-color: #e18e12;
}

.mb-yellow {
  color: #fff;
  background-color: #ffbb00;
}
.mb-blue {
  color: #fff;
  background-color: #02afc4;
}

.mb-text-line {
  display: flex;
  align-items: center;
}
.mb-text-line::before {
  content: '';
  display: block;
  //  width: 100px;
  border-top: 1px solid #777;
  flex: 1 1 0;
}
.mb-text-line::after {
  content: '';
  //  width: 100px;
  border-top: 1px solid #777;
  flex: 1 1 0;
}

.mb-login-icon {
  width: 70px;
  height: 70px;
}

/*----------------會員中心--------------*/

.mb-aside-menu {
  border: 1px solid #000;
  width: 200px;
  margin-top: 100px;
  text-align: center;
}

.mb-aside-menu li {
  padding: 15px 0px;
  display: block;
}

.mb-aside-menu li:nth-child(1) {
  width: 100%;
  background-color: #145041;
  color: white;
}
.mb-aside-menu li:nth-child(2) {
  border-bottom: 1px solid #000;
}
.mb-aside-menu li:nth-child(4n + 2) {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
// .mb-aside-menu li:nth-child(10){
//   border-top: 1px solid #000;
//   border-bottom: 1px solid #000;
// }

.mb-right-content {
  margin-top: 100px;
  flex: 0 0 80%;
  max-width: 1000px;
  margin-left: 100px;
}

.mb-right-content-bcg {
  padding: 50px;
  background-color: $mb-gray-bcg;
}

.mb-imformation-title {
  margin-bottom: 40px;
  padding-bottom: 50px;
  border-bottom: 1px solid #000;
}

.mb-card {
  width: 400px;
  height: 220px;
  margin: 0px 50px;
}

/*-----------會員基本資料------------*/

.mb-avatar-button {
  width: $mb-avatar-button-width;
  height: $mb-avatar-button-hight;
  font-size: 18px;
  border-radius: 8px;
  border: 0px;
}

.mb-input-box,
.mb-redio-box {
  width: 43%;
  height: 70px;
  margin: 10px 0px;
  // border: 1px solid #aaf;
}

.mb-input-box input {
  width: 400px;
  height: 40px;
  font-size: 18px;
}

.mb-input-box label {
  display: block;
}

/*-----------我的收件地址------------*/

.mb-adressBook-icon {
  width: 200px;
  height: 200px;
  margin-top: 150px;
}
